
<div class="navigation-menus">
    <div class="title">CUI COMPONENTS DEMO</div>
    <div class="menu">
        <a href="/cui-dropdown-demo">cui-dropdown</a>
    </div>
    <div class="menu">
        <a href="cui-table-demo">cui-table</a>
    </div>
    <div class="menu">
        <a href="/cui-switch-demo">cui-switch</a>
    </div>
    <div class="menu">
        <a href="/cui-datepicker-demo">cui-datepicker</a>
    </div>
    <div class="menu">
        <a href="/cui-datepicker-range-demo">cui-datepicker-range</a>
    </div>
    <div class="menu">
        <a href="/cui-datetimepicker-demo">cui-datetimepicker</a>
    </div>
    <div class="menu">
        <a href="/cui-select-demo">cui-select</a>
    </div>
    <div class="menu">
        <a href="/cui-checkbox-demo">cui-checkbox</a>
    </div>
    <div class="menu">
        <a href="/cui-radio-demo">cui-radio</a>
    </div>
    <div class="menu">
        <a href="/cui-phone-demo">cui-phone</a>
    </div>
    <div class="menu">
        <a href="/cui-password-demo">cui-password</a>
    </div>
    <div class="menu">
        <a href="/cui-email-demo">cui-email</a>
    </div>
    <div class="menu">
        <a href="/cui-file-upload-demo">cui-file</a>
    </div>
    <div class="menu">
        <a href="cui-tabs-demo">cui-tabs</a>
    </div>
    <div class="menu">
        <a href="/cui-html-editor-demo">cui-html-editor</a>
    </div>
    <div class="menu">
        <a href="/cui-operations-demo">cui-operations</a>
    </div>
    <div class="menu">
        <a href="/cui-calendar-demo">cui-calendar</a>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>