<cui-dropdown displayText="Fruits" btnIcon = "fa fa-area-chart">
  <cui-dropdown-item href="#" (click) = "choose(1)">Apple</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Pineapple</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Watermelon</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Peach</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Branana</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Cherry</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Pear</cui-dropdown-item>
</cui-dropdown>