
<div style="margin: 10px 0px">
    <div style="color: red">id attribute</div>
    <cui-checkbox id="checkbox1">Hey, I'am checkbox</cui-checkbox>
</div>


<div style="margin: 10px 0px">
    <div style="color: red">name attribute</div>
    <cui-checkbox id="checkbox2" name="Human">Hey, My name is Human</cui-checkbox>
</div>

<div style="margin: 10px 0px">
    <div style="color: red">value attribute</div>
    <cui-checkbox id="checkbox3" name="Human" value="Human">Hey, my value is Human</cui-checkbox>
</div>

<div style="margin: 10px 0px">
    <div style="color: red">click event</div>
    <cui-checkbox id="checkbox4" name="Human" value="Human" (checkChange) = "doClick($event)">Hey, click me!!!</cui-checkbox>
</div>