
<div style="margin: 10px 0px">
    <div style="color: red">id attribute</div>
    <cui-radio id="radio1">Hey, I'am radio</cui-radio>
</div>


<div style="margin: 10px 0px">
    <div style="color: red">name attribute</div>
    <cui-radio id="radio2" name="Human">Hey, My name is Human</cui-radio>
    <cui-radio id="radio2-2" name="Human">Hey, My name is Human too</cui-radio>
</div>

<div style="margin: 10px 0px">
    <div style="color: red">value attribute</div>
    <cui-radio id="radio3" value="Human">Hey, my value is Human</cui-radio>
</div>

<div style="margin: 10px 0px">
    <div style="color: red">click event</div>
    <cui-radio id="radio4" value="Human" (radioChange) = "doClick($event)">Hey, click me!!!</cui-radio>
</div>